*{
    background-color: rgb(65, 78, 64);
    color: aliceblue;
    
}
.color1{
    background-color: rgb(149, 190, 190);
    color: black;
    width: 100%;
    max-width: 600px;

    
}
.center{
    color: rgb(226, 139, 139);
    
}
.centro{
    padding: 0px;
    margin: 20px;
    font-size: larger;
    color: rgb(139, 226, 153);
    font-weight: 500;
    
}
.tam{
    width: 100%;
    height: 30px;
    font-size: 25px;
    max-width: 600px;
}
.tamaño{
    height: 200%;
    width: 100%;
    font-size: large;
    max-width: 600px;
}
.dos{
    height: 22px;
    width: 22px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin:0 auto;
    overflow: center;

}

.tamaño2{

    height: 100px;
    width: 100%;
    font-size: 200%;

}

.tamaño_Inicio{
    
    height: 100%;
    width: 100%;
    font-size: 200%;
    max-width: 600px;
}

.lectura{
    background-color: rgb(250, 250, 250);
    color: black;
    font-size: large;
    z-index:100;
        
        
}


@media screen  and (max-width:500px){
    *{
        background-color: rgb(33, 37, 26);
    }
    main{
        width: 100%;
        
    }
    aside{
        width: 100%;
    }
}
