.aside{
    background-color: aquamarine;
    width: 200px;
    height: 600px;
    border-radius: 10px;
}
.central{
    background-color: rgb(8, 46, 46);
    height: 200px;
    width: 100px;
    

}

.inicio{
    background-color: blue;
    text-align: center;
    padding: 10px;
    list-style: none;
    height: 10px;
   
}
.inicio1{
    background-color: blue;
    text-align: center;
    padding: 10px;
    list-style: none;
    height: 10px;
    
}
.Inicio{
   
    list-style: none;
    text-align:center;
   
}
.cerrar{
    float: right;

    padding: 0px;
}
/* la x de cierre */
.close-btn {
   
    font-size: 30px;
    color: #000;
    
  }